.App {
  display: flex;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.card {
  width: fit-content;
  margin: 20px;
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 20px;
  background: #fff;
  text-align: center;
}

.card > p {
  margin: -10px;
}

.card > h1 {
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 0;
  font-size: 24px;
}

.card .avatar {
  margin: 20px;
  margin-top: -5px;
  border-radius: 50%;
}
